<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <!-- Original CSS -->
      <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
      <title>Login + Signup</title>
   </head>
   <body>
      <marquee>
         <div style="text-align:center"> <img src="../static/logo.png"> </div>
      </marquee>
      <div class="login_div">
         <form class="login_form" method="POST" action="/home/">
            <br>
            <div style="text-align:center">
               <h2>Welcome to DankTanks </h2>
            </div>
            <br>
            <div class="form-group">
               <label for="Username">Username</label>
               <input type="user" class="form-control" id="Username" name="username" placeholder="Username">
            </div>
            <div class="form-group">
               <label for="Password">Password</label>
               <input type="password" class="form-control" id="Password" placeholder="Password" name="inputPassword3">
            </div>
            <div class="buttons">
               <input type="submit" class="btn btn-primary" name="submit" value="Sign in">
               <input type="submit" class="btn btn-success" name="submit" value="Sign up">
            </div>
         </form>
      </div>
   </body>
</html>
